.site-footer {
  background: var(--footer-bg);
  color: var(--footer-colour);
  flex-shrink: 0;
  padding: inc_to_rem(4) 0;

  @include mq(tablet) {
    padding: inc_to_rem(6) 0 inc_to_rem(2);
  }

  @include mq(desktop) {
    padding: inc_to_rem(8) 0 inc_to_rem(4);
  }

  a {
    color: var(--white);
    opacity: .7;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
    }

  }

  .container {
    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }

  &__logo {
   display: none;

    @include mq(tablet) {
      height: 120px;
      display: block;
      opacity: 1 !important;
      width: 92px;
    }

    img {
      height: 100%;
      width: auto;
    }

  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: inc_to_rem(3);

    @include mq(desktop) {
      font-size: inc_to_rem(2);
      line-height: inc_to_rem(4);
    }

    &:last-child { margin-bottom: 0; }

    strong { display: block; }

  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-bottom: inc_to_rem(4);

    @include mq(tablet-lg) {
      // margin: 0 0 inc_to_rem(7);
      // width: 50%;
    }

    @include mq(tablet-lg) {
      margin-bottom: inc_to_rem(4);
    }

    @include mq(desktop) {
      margin-bottom: 0;
      padding-top: inc_to_rem(3);
      padding-right: inc_to_rem(5);
    }

   

    &:nth-child(odd) {
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        // padding-right: inc_to_rem(3);
      }
    }

    &:nth-child(even) {
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        // padding-left: inc_to_rem(3);
      }
    }


    &--first {

      @include mq(tablet-lg) {
        margin-right: inc_to_rem(15);
      }

      @include mq(desktop-lg) {
        margin-right: inc_to_rem(30);
      }

      p {
        margin: 0;
      }

    }

    &--links {

      @include mq(tablet-lg) {
        flex: 1;
      }

    }

    &--contact {

      @include mq(desktop) {
        width: var(--footer-col-width);
      }
      
    }

    &--hours {

      @include mq(tablet-lg) {
        width: 40%;
      }

      @include mq(desktop) {
        width: var(--footer-col-width);
      }
      
    }

  }

  &__heading {
    font-size: inc_to_rem(2);
    font-weight: var(--font-bold);
    margin-bottom: inc_to_rem(3);

    @include mq(desktop) {
      font-size: 22px;
      margin-bottom: inc_to_rem(4);
    }

  }

}


//== Footer Social

.footer-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  @include mq(tablet) {
    margin-top: inc_to_rem(3);
  }

  @include mq(tablet-lg) {
    right: 0;
  }

  @include mq(desktop) {
    position: relative;
    right: auto;
    top: auto;
  }

  &__item {
    margin-right: inc_to_rem(2);

    &:last-child { margin-right: 0; }

  }

  &__link {
    border: none;
    opacity: 1 !important;

    svg {
      fill: var(--footer-link-colour);
      height: 40px;
      transition: all .2s ease-in-out;
      width: 40px;
    }

  }

}


//== Footer Links

.site-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;

  @include mq(tablet) {
    column-count: unset;
  }

  .menu-item {
    font-size: 14px;
    margin-bottom: inc_to_rem(2);

    @include mq(desktop) {
      font-size: inc_to_rem(2);
    }

  }

  .current-menu-item {

    a {
      font-weight: var(--font-bold);
      opacity: 1;
    }

  }

}


//== Footer Bottom

.site-footer-bottom {
  display: flex;
  flex-direction: column;
  gap: inc_to_rem(2);

  @include mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
  }

  @include mq(tablet-lg) {
    margin-top: inc_to_rem(7);
  }

  p {
    margin: 0;
  }

}

.site-footer-bottom-links {
  list-style: none;
  margin: inc_to_rem(3) 0 inc_to_rem(5);
  padding: 0;

  @include mq(tablet) {    
    display: flex;
    margin: 0;
  }

  .menu-item {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);
    margin-bottom: inc_to_rem(2);

    @include mq(tablet) {
      margin-right: inc_to_rem(3);
    }

    a {
      color: var(--white);
      opacity: .7;
      text-decoration: none;
      transition: all .2s ease-in-out;

      &:hover {
        opacity: 1;
      }

    }

  }

  .current-menu-item {

    a {
      font-weight: var(--font-bold);
      opacity: 1;
    }

  }

}