.hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: flex;
  height: var(--hero-height);
  padding-top: var(--header-height);
  position: relative;
  text-align: center;

  @include mq(desktop-md) {
    max-height: 80vh;
  }

  &:after {
    background: rgba(0, 0, 0, 0.35);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .container {    
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &__title,
  &__intro {
    font-family: var(--heading-font);
  }

  &__title {    
    font-size: inc_to_rem(5);
    font-weight: var(--font-bold);
    line-height: inc_to_rem(5);
    margin-bottom: inc_to_rem(2);

    @include mq(tablet) {
      font-size: inc_to_rem(6);
      line-height: inc_to_rem(6);
      margin-bottom: inc_to_rem(2);
    }

    @include mq(desktop) {
      font-size: inc_to_rem(10);
      margin-bottom: inc_to_rem(6);
    }

  }

  &__intro {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);

    @include mq(tablet) {
      font-size: inc_to_rem(3);
      line-height: inc_to_rem(5);
    }

    @include mq(desktop) {
      font-size: inc_to_rem(4);
      line-height: inc_to_rem(6);
    }

    @include mq(desktop-md) {
      font-size: inc_to_rem(4);
      line-height: inc_to_rem(6);
    }

    @include mq(desktop-lg) {
      font-size: inc_to_rem(5);
      line-height: inc_to_rem(7);
    }

    br {
      display: none;

      @include mq(tablet) {
        display: block;
      }

    }

  }

  &__btn {
    margin-top: inc_to_rem(3);

    @include mq(tablet) {
      // font-size: 20px;
      margin-top: inc_to_rem(4);
      // padding: inc_to_rem(3) inc_to_rem(4);
    }

    @include mq(desktop-md) {
      // font-size: inc_to_rem(3);
      // padding: inc_to_rem(3) inc_to_rem(5);
      margin-top: inc_to_rem(5);
    }

    @include mq(desktop-lg) {
      margin-top: inc_to_rem(8);
    }

  }
  
}