.card-panel {
  padding: var(--block-padding) 0;

  &__title {
    @include blockTitle;
  }

  &__body {
    @include blockIntro;
  }

}

.card-list {  

  @include mq(tablet-lg) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: inc_to_rem(4);    
  }

  @include mq(desktop) {
    grid-gap: inc_to_rem(5);
  }

}

.card {
  @include smallPanel(false);
  display: flex;
  flex-direction: column;
  margin-bottom: inc_to_rem(2);
  text-decoration: none;
  transition: all .1s ease-in-out;

  @include mq(tablet) {
    flex-direction: row;
  }

  @include mq(tablet-lg) {
    flex-direction: column;
    margin: 0;
  }

  &:hover {
    background: var(--accent);
    box-shadow: var(--panel-box-shadow-hover);
    color: var(--white);

    .card__title {
      color: var(--white);
    }
  
    .card__img img {
      transform: scale(1.05);
    }

  }
  
  &:last-child { margin-bottom: 0; }

  &__img {
    overflow: hidden;

    @include mq(tablet) {
      width: 250px;
    }

    @include mq(tablet-lg) {
      width: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      transition: all .2s ease-in-out;
      width: 100%;
    }

  }

  &__content {
    flex: 1;
    padding: var(--panel-padding);
  }

  &__title {
    color: var(--heading-colour);
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: var(--font-bold);
    line-height: inc_to_rem(4);
    margin-bottom: inc_to_rem(1);

    @include mq(tablet-lg) {
      font-size: var(--sub-title-font-size);
      line-height: var(--sub-title-line-height);
    }

    @include mq(desktop) {
      font-size: inc_to_rem(3);
      line-height: inc_to_rem(4);
      margin-bottom: inc_to_rem(2);
    }

  }

  &__body {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(4);

    @include mq(desktop) {
      font-size: 18px;      
      line-height: 36px;
    }

  }

}