.btn,
html div.wpforms-container-full button[type=submit] {
  align-self: center;
  background: var(--btn-primary-bg);
  border-radius: var(--border-radius);
  color: var(--btn-primary-colour);
  display: flex;
  font-size: inc_to_rem(2);
  font-weight: var(--font-bold);
  justify-content: center;
  padding: inc_to_rem(2) inc_to_rem(3);
  text-decoration: none;
  transition: all .2s ease-in-out;  

  @include mq(tablet-lg) {
    padding: 15px 20px;
  }

  @include mq(desktop) {
    font-size: 22px;
    padding: inc_to_rem(2) inc_to_rem(5);
  }

  &:hover {
    box-shadow: 0 8px 10px rgba(0,0,0,0.25);
    background: lighten(rgb(94,126,57), 5%);
  }

  &:active {
    box-shadow: none;
    background: lighten(rgb(94,126,57), 5%);
  }

}